body{
  position:relative;
}

#chart{
  padding-right:20px;
}

circle {
  fill: rgb(195, 195, 162);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  /*fill: #ff7f0e;*/
  fill-opacity: 1;
}


text {
  font: 12px sans-serif;
}

#content{
  padding-right:20px;
}

.content-text {
  font-size:1em;
}

img {
  width:120px;
  height:150px;
  float:left;
  margin-right:10px;
}

.description{
  font-weight:300;
  padding-right:2%;
}

.description h3 {
  font-family:Arial;
}

.description span {
  font-weight:bold;
}

#legend{
  padding-left:6%;
}

#legend circle {
  fill-opacity: 1;
}