body{
  position:relative;
}

#chart{
  padding-right:20px;
}

circle {
  fill: rgb(195, 195, 162);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
  cursor:pointer;
  opacity:0.85;
}

.leaf circle {
  /*fill: #ff7f0e;*/
  fill-opacity: 1;
}

text {
  font: 12px sans-serif;
}

#content{
  padding-right:20px;
}

.content-text, .biography {
  padding-right:2%;
}

img {
  width:120px;
  height:150px;
  float:left;
  margin-right:10px;
}

#close-button{
    color:#cc0000;
    float:right;
    font-size:1.3em;
    padding:0% 2% 0% 0%;
}

.biography h3 {
  font-family:Arial;
}

.biography span {
  font-weight:bold;
}


#legend{
  padding-left:6%;
}

#legend circle {
  fill-opacity: 1;
}

@media screen and (max-width:1023px){
  #legend{
    position:absolute;
  }
  
  #content{
    margin-top:10%;
  }
  
  #content h2{
    font-size: 1.5em;
  }
  
  .content-text{
    font-size:1em;
  }
  
  #headline-break{
    display:none;
  }
}

@media screen and (min-width:320px) and (max-width:374px){
  #legend{
    top: 34%;
  }
}

@media screen and (min-width:375px) and (max-width:413px){
  #legend{
    top: 37%;
  }
}

@media screen and (min-width:414px) and (max-width:767px){
  #legend{
    top: 47%;
  }
}

@media screen and (min-width:768px) and (max-width:990px){
  #legend{
    top: 70%;
  }
}

/*Make responsive containers for the SVG canvases*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 90%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
